Please review the pull request #{{number}}.

{{html_url}} was opened by {{#user}}{{name}} ({{login}}){{/user}}: {{title}}

Some more information about the pull request:
  Opened: {{created_at}}
  {{#base}}Based on: {{label}} ({{sha}}){{/base}}
  {{#head}}Requested merge: {{label}} ({{sha}}){{/head}}

Description:

{{body}}

Thanks.
