<html>
  <head>
  </head>
  <body>
    <p>Greetings!</p>

    <p>Please review the pull request #{{number}}: <a href="{{html_url}}" title="{{title}}">{{title}}</a> opened by {{#user}}{{name}} ({{login}}){{/user}}.</p>

    <p>Some more information about the pull request:<br />
    <ul>
      <li>Opened: {{created_at}}</li>
      {{#base}}
      <li>Based on: {{label}} ({{sha}})</li>
      {{/base}}
      {{#head}}
      <li>Requested merge: {{label}} ({{sha}})</li>
      {{/head}}
    </ul></p>

    <p>Description:<br />
    <br />
    {{body}}</p>

    <p>Thanks!<br />
    The Pull Request Bot</p>
  </body>
</html>
