Please review the pull request #{{number}}.

{{html_url}} was opened by {{#user}}{{name}} ({{login}}){{/user}}: {{title}}

Some more information about the pull request:
{{> metadata}}

Description:

{{body}}
