,----
| This comes from the snippit!
|   Opened: {{created_at}}
|   Merges cleanly: {{#mergeable}}Yes{{/mergeable}}{{^mergeable}}No{{/mergeable}}
|   {{#base}}Based on: {{label}} ({{sha}}){{/base}}
|   {{#head}}Requested merge: {{label}} ({{sha}}){{/head}}
`----
