<html>
  <head>
  </head>
  <body>
    <p>Greetings!</p>

    <p>The following pull requests have been opened:<br />
    <ul>
    {{#pulls}}
      <li>{{> opened}}</li>
    {{/pulls}}
    </ul></p>

    <p>Thanks!<br />
    The Pull Request Bot</p>
  </body>
</html>
