<html>
  <head>
  </head>
  <body>
    <p>Greetings!</p>

    <p>On {{closed_at}} pull request #{{number}} was closed.</p>

    <p>{{> closed}}</p>

    <p>Thanks!<br />
    The Pull Request Bot</p>
  </body>
</html>
